<a href="https://colab.research.google.com/github/ShrutiMishra-2002/Dealingwithmissingvalues-python/blob/main/datacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Bengaluru_House_Data.csv')

In [ ]:
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [ ]:
df.shape

(13320, 9)

(13320, 9)

In [ ]:
df.info

<bound method DataFrame.info of                   area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
4      Super built-up  Area  Ready To Move  ...     1.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     NaN  400.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00
13319  Super built-up  Area  Ready To Move  ...     1.0   17.00

[13320 rows x 9 columns]>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [ ]:
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [ ]:
df.tail()

                  area_type   availability  ... balcony  price
13315        Built-up  Area  Ready To Move  ...     0.0  231.0
13316  Super built-up  Area  Ready To Move  ...     NaN  400.0
13317        Built-up  Area  Ready To Move  ...     1.0   60.0
13318  Super built-up  Area         18-Jun  ...     1.0  488.0
13319  Super built-up  Area  Ready To Move  ...     1.0   17.0

[5 rows x 9 columns]

In [ ]:
df.isnull()

       area_type  availability  location  ...   bath  balcony  price
0          False         False     False  ...  False    False  False
1          False         False     False  ...  False    False  False
2          False         False     False  ...  False    False  False
3          False         False     False  ...  False    False  False
4          False         False     False  ...  False    False  False
...          ...           ...       ...  ...    ...      ...    ...
13315      False         False     False  ...  False    False  False
13316      False         False     False  ...  False     True  False
13317      False         False     False  ...  False    False  False
13318      False         False     False  ...  False    False  False
13319      False         False     False  ...  False    False  False

[13320 rows x 9 columns]

In [ ]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [ ]:
df.isnull().sum().sum()

6201

In [ ]:
df2=df.fillna(value=0)
df2

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
4      Super built-up  Area  Ready To Move  ...     1.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     0.0  400.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00
13319  Super built-up  Area  Ready To Move  ...     1.0   17.00

[13320 rows x 9 columns]

In [ ]:
df2=df.fillna(value="jai")
df2

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
4      Super built-up  Area  Ready To Move  ...     1.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     jai  400.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00
13319  Super built-up  Area  Ready To Move  ...     1.0   17.00

[13320 rows x 9 columns]

In [ ]:
df=df.fillna(value="jai")
df

NameError: ignored

In [ ]:
df2.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [ ]:
df3=df.fillna(method='pad')
df3

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
4      Super built-up  Area  Ready To Move  ...     1.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     0.0  400.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00
13319  Super built-up  Area  Ready To Move  ...     1.0   17.00

[13320 rows x 9 columns]

In [ ]:
df3=df.fillna(method='pad')
df3

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
4      Super built-up  Area  Ready To Move  ...     1.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     0.0  400.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00
13319  Super built-up  Area  Ready To Move  ...     1.0   17.00

[13320 rows x 9 columns]

In [ ]:
df4=df.fillna(method='bfill')
df4

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
4      Super built-up  Area  Ready To Move  ...     1.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     1.0  400.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00
13319  Super built-up  Area  Ready To Move  ...     1.0   17.00

[13320 rows x 9 columns]

In [ ]:
df5=df.fillna(method='pad' , axis=1)
df5

                  area_type   availability  ... balcony  price
0      Super built-up  Area         19-Dec  ...     1.0  39.07
1                Plot  Area  Ready To Move  ...     3.0  120.0
2            Built-up  Area  Ready To Move  ...     3.0   62.0
3      Super built-up  Area  Ready To Move  ...     1.0   95.0
4      Super built-up  Area  Ready To Move  ...     1.0   51.0
...                     ...            ...  ...     ...    ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.0
13316  Super built-up  Area  Ready To Move  ...     5.0  400.0
13317        Built-up  Area  Ready To Move  ...     1.0   60.0
13318  Super built-up  Area         18-Jun  ...     1.0  488.0
13319  Super built-up  Area  Ready To Move  ...     1.0   17.0

[13320 rows x 9 columns]

In [ ]:
df6=df.fillna(method='bfill',axis=1)
df6

                  area_type   availability  ... balcony  price
0      Super built-up  Area         19-Dec  ...     1.0  39.07
1                Plot  Area  Ready To Move  ...     3.0  120.0
2            Built-up  Area  Ready To Move  ...     3.0   62.0
3      Super built-up  Area  Ready To Move  ...     1.0   95.0
4      Super built-up  Area  Ready To Move  ...     1.0   51.0
...                     ...            ...  ...     ...    ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.0
13316  Super built-up  Area  Ready To Move  ...   400.0  400.0
13317        Built-up  Area  Ready To Move  ...     1.0   60.0
13318  Super built-up  Area         18-Jun  ...     1.0  488.0
13319  Super built-up  Area  Ready To Move  ...     1.0   17.0

[13320 rows x 9 columns]

In [ ]:
df7=df.fillna(value=df['balcony'].mean())
df7

                  area_type   availability  ...   balcony   price
0      Super built-up  Area         19-Dec  ...  1.000000   39.07
1                Plot  Area  Ready To Move  ...  3.000000  120.00
2            Built-up  Area  Ready To Move  ...  3.000000   62.00
3      Super built-up  Area  Ready To Move  ...  1.000000   95.00
4      Super built-up  Area  Ready To Move  ...  1.000000   51.00
...                     ...            ...  ...       ...     ...
13315        Built-up  Area  Ready To Move  ...  0.000000  231.00
13316  Super built-up  Area  Ready To Move  ...  1.584376  400.00
13317        Built-up  Area  Ready To Move  ...  1.000000   60.00
13318  Super built-up  Area         18-Jun  ...  1.000000  488.00
13319  Super built-up  Area  Ready To Move  ...  1.000000   17.00

[13320 rows x 9 columns]

In [ ]:
df8=df.fillna(value=df['balcony'].min())
df8

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
4      Super built-up  Area  Ready To Move  ...     1.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     0.0  400.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00
13319  Super built-up  Area  Ready To Move  ...     1.0   17.00

[13320 rows x 9 columns]

In [ ]:
df9=df.fillna(value=df['balcony'].max())
df9

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
4      Super built-up  Area  Ready To Move  ...     1.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     3.0  400.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00
13319  Super built-up  Area  Ready To Move  ...     1.0   17.00

[13320 rows x 9 columns]

In [ ]:
df9=df.dropna()
df9

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
5      Super built-up  Area  Ready To Move  ...     1.0   38.00
11               Plot  Area  Ready To Move  ...     3.0  295.00
...                     ...            ...  ...     ...     ...
13313  Super built-up  Area  Ready To Move  ...     1.0   57.00
13314  Super built-up  Area  Ready To Move  ...     3.0  112.00
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00

[7496 rows x 9 columns]

In [ ]:
df12=df.replace(to_replace=1.0, value=800)
df12

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...   800.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...   800.0   95.00
4      Super built-up  Area  Ready To Move  ...   800.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     NaN  400.00
13317        Built-up  Area  Ready To Move  ...   800.0   60.00
13318  Super built-up  Area         18-Jun  ...   800.0  488.00
13319  Super built-up  Area  Ready To Move  ...   800.0   17.00

[13320 rows x 9 columns]

In [ ]:
df15=df.replace(to_replace=5.0, value=900)
df15

                  area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
4      Super built-up  Area  Ready To Move  ...     1.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     0.5  400.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00
13319  Super built-up  Area  Ready To Move  ...     1.0   17.00

[13320 rows x 9 columns]

In [ ]:
df13=df['balcony']=df['balcony'].interpolate(method='linear')
df13

0        1.0
1        3.0
2        3.0
3        1.0
4        1.0
        ...
13315    0.0
13316    0.5
13317    1.0
13318    1.0
13319    1.0
Name: balcony, Length: 13320, dtype: float64

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Bengaluru_House_Data.csv')

In [ ]:
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]