<a href="https://colab.research.google.com/github/ShrutiMishra-2002/Dealingwithmissingvalues-python/blob/main/missingvalues_prac1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/sample_data/healthcare_test_data.csv.csv')
df.head()

   case_id  Hospital_code  ...    Age  Admission_Deposit
0   318439             21  ...  71-80               3095
1   318440             29  ...  71-80               4018
2   318441             26  ...  71-80               4492
3   318442              6  ...  71-80               4173
4   318443             28  ...  71-80               4161

[5 rows x 17 columns]

In [ ]:
df.shape

(137057, 17)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137057 entries, 0 to 137056
Data columns (total 17 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            137057 non-null  int64
 1   Hospital_code                      137057 non-null  int64
 2   Hospital_type_code                 137057 non-null  object
 3   City_Code_Hospital                 137057 non-null  int64
 4   Hospital_region_code               137057 non-null  object
 5   Available Extra Rooms in Hospital  137057 non-null  int64
 6   Department                         137057 non-null  object
 7   Ward_Type                          137057 non-null  object
 8   Ward_Facility_Code                 137057 non-null  object
 9   Bed Grade                          137022 non-null  float64
 10  patientid                          137057 non-null  int64
 11  City_Code_Patient                  134900 non-null  float64
 12  Type of Admission                  137057 non-null  object
 13  Severity of Illness                137057 non-null  object
 14  Visitors with Patient              137057 non-null  int64
 15  Age                                137057 non-null  object
 16  Admission_Deposit                  137057 non-null  int64
dtypes: float64(2), int64(7), object(8)
memory usage: 17.8+ MB

to find null values

In [ ]:
df.isnull()

        case_id  Hospital_code  ...    Age  Admission_Deposit
0         False          False  ...  False              False
1         False          False  ...  False              False
2         False          False  ...  False              False
3         False          False  ...  False              False
4         False          False  ...  False              False
...         ...            ...  ...    ...                ...
137052    False          False  ...  False              False
137053    False          False  ...  False              False
137054    False          False  ...  False              False
137055    False          False  ...  False              False
137056    False          False  ...  False              False

[137057 rows x 17 columns]

count of null values column wise

In [ ]:
df.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

total count of null values in entire dataset

In [ ]:
df.isnull().sum().sum()

2192

filling null values

In [ ]:
df1=df.fillna(value=0)
df1

        case_id  Hospital_code  ...    Age  Admission_Deposit
0        318439             21  ...  71-80               3095
1        318440             29  ...  71-80               4018
2        318441             26  ...  71-80               4492
3        318442              6  ...  71-80               4173
4        318443             28  ...  71-80               4161
...         ...            ...  ...    ...                ...
137052   455491             11  ...  41-50               6313
137053   455492             25  ...   0-10               3510
137054   455493             30  ...   0-10               7190
137055   455494              5  ...  41-50               5435
137056   455495              6  ...  51-60               4702

[137057 rows x 17 columns]

In [ ]:
df1.isnull().sum().sum()

0

In [ ]:
df2=df.fillna(method="pad")
df2

        case_id  Hospital_code  ...    Age  Admission_Deposit
0        318439             21  ...  71-80               3095
1        318440             29  ...  71-80               4018
2        318441             26  ...  71-80               4492
3        318442              6  ...  71-80               4173
4        318443             28  ...  71-80               4161
...         ...            ...  ...    ...                ...
137052   455491             11  ...  41-50               6313
137053   455492             25  ...   0-10               3510
137054   455493             30  ...   0-10               7190
137055   455494              5  ...  41-50               5435
137056   455495              6  ...  51-60               4702

[137057 rows x 17 columns]

In [ ]:
df3=df.fillna(method="bfill")
df3

        case_id  Hospital_code  ...    Age  Admission_Deposit
0        318439             21  ...  71-80               3095
1        318440             29  ...  71-80               4018
2        318441             26  ...  71-80               4492
3        318442              6  ...  71-80               4173
4        318443             28  ...  71-80               4161
...         ...            ...  ...    ...                ...
137052   455491             11  ...  41-50               6313
137053   455492             25  ...   0-10               3510
137054   455493             30  ...   0-10               7190
137055   455494              5  ...  41-50               5435
137056   455495              6  ...  51-60               4702

[137057 rows x 17 columns]

In [13]:
df4=df.fillna(method="pad",axis=1)
df4

       case_id Hospital_code  ...    Age Admission_Deposit
0       318439            21  ...  71-80              3095
1       318440            29  ...  71-80              4018
2       318441            26  ...  71-80              4492
3       318442             6  ...  71-80              4173
4       318443            28  ...  71-80              4161
...        ...           ...  ...    ...               ...
137052  455491            11  ...  41-50              6313
137053  455492            25  ...   0-10              3510
137054  455493            30  ...   0-10              7190
137055  455494             5  ...  41-50              5435
137056  455495             6  ...  51-60              4702

[137057 rows x 17 columns]

In [14]:
df5=df.fillna(method="bfill",axis=1)
df5

       case_id Hospital_code  ...    Age Admission_Deposit
0       318439            21  ...  71-80              3095
1       318440            29  ...  71-80              4018
2       318441            26  ...  71-80              4492
3       318442             6  ...  71-80              4173
4       318443            28  ...  71-80              4161
...        ...           ...  ...    ...               ...
137052  455491            11  ...  41-50              6313
137053  455492            25  ...   0-10              3510
137054  455493            30  ...   0-10              7190
137055  455494             5  ...  41-50              5435
137056  455495             6  ...  51-60              4702

[137057 rows x 17 columns]

In [17]:
df5=df.fillna(value=df['City_Code_Patient'].mean())
df5

        case_id  Hospital_code  ...    Age  Admission_Deposit
0        318439             21  ...  71-80               3095
1        318440             29  ...  71-80               4018
2        318441             26  ...  71-80               4492
3        318442              6  ...  71-80               4173
4        318443             28  ...  71-80               4161
...         ...            ...  ...    ...                ...
137052   455491             11  ...  41-50               6313
137053   455492             25  ...   0-10               3510
137054   455493             30  ...   0-10               7190
137055   455494              5  ...  41-50               5435
137056   455495              6  ...  51-60               4702

[137057 rows x 17 columns]

In [19]:
df6=df.fillna(value=df['Age'].max())
df6

        case_id  Hospital_code  ...    Age  Admission_Deposit
0        318439             21  ...  71-80               3095
1        318440             29  ...  71-80               4018
2        318441             26  ...  71-80               4492
3        318442              6  ...  71-80               4173
4        318443             28  ...  71-80               4161
...         ...            ...  ...    ...                ...
137052   455491             11  ...  41-50               6313
137053   455492             25  ...   0-10               3510
137054   455493             30  ...   0-10               7190
137055   455494              5  ...  41-50               5435
137056   455495              6  ...  51-60               4702

[137057 rows x 17 columns]

In [20]:
df7=df.dropna()
df7

        case_id  Hospital_code  ...    Age  Admission_Deposit
0        318439             21  ...  71-80               3095
1        318440             29  ...  71-80               4018
2        318441             26  ...  71-80               4492
3        318442              6  ...  71-80               4173
4        318443             28  ...  71-80               4161
...         ...            ...  ...    ...                ...
137052   455491             11  ...  41-50               6313
137053   455492             25  ...   0-10               3510
137054   455493             30  ...   0-10               7190
137055   455494              5  ...  41-50               5435
137056   455495              6  ...  51-60               4702

[134865 rows x 17 columns]

In [21]:
df.shape

(137057, 17)

In [22]:
df8=df.replace(to_replace=21, value=50)
df8

        case_id  Hospital_code  ...    Age  Admission_Deposit
0        318439             50  ...  71-80               3095
1        318440             29  ...  71-80               4018
2        318441             26  ...  71-80               4492
3        318442              6  ...  71-80               4173
4        318443             28  ...  71-80               4161
...         ...            ...  ...    ...                ...
137052   455491             11  ...  41-50               6313
137053   455492             25  ...   0-10               3510
137054   455493             30  ...   0-10               7190
137055   455494              5  ...  41-50               5435
137056   455495              6  ...  51-60               4702

[137057 rows x 17 columns]

In [23]:
df9=df['City_Code_Hospital']=df['City_Code_Hospital'].interpolate(method='linear')
df9

0          3
1          4
2          2
3          6
4         11
          ..
137052     2
137053     1
137054     3
137055     1
137056     6
Name: City_Code_Hospital, Length: 137057, dtype: int64